@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.CategoryNav {
    @include m.flex (row, nowrap, center, center);
    width: 100%;
    &-container {
        @include m.flex(column, nowrap, center, center);
        @include m.tablet {
            width: 90%;
        }
        @include m.desktop {
            width: 80%;
        }
    }
    &-ul {@include m.flex(row, nowrap, flex-start, center);
        width: 100%;
        margin: 0;
        gap: 1rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        @include m.desktop{
            overflow-x: visible;
            gap: 0;
            padding: 0;
            scroll-snap-type: none;
            border-bottom: 1px solid var(--color-gris);
        }
    }
    &-li {
        position: relative;
        flex: 0 0 auto;
        scroll-snap-align: start;
        min-width: 7rem;padding: 0.5rem 1rem;
        border-radius: 20px;
        background-color: var(--color-gris-claro);
        text-transform: capitalize;
        cursor: pointer;
        @include m.desktop {
            background-color: var(--color-blanco-contraste);
            border-radius: 0;
            padding: 1rem;
            font-size: 1.2em;
            font-weight: bold;
            &:hover {
                border-bottom: 2px solid var(--color-gris);
            }
        }
    }
}