@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.Header {
    background-color: transparent;
    @include m.position(absolute, 0, 0, null, 0);
    z-index: 80;
    @include m.flex (column, nowrap, center, center);
    &--mod {
        position: relative;
        background-color: var(--color-fondo);
    }
    &-container {
        width: 100%;
        position: relative;
        padding: 0.5rem;
        @include m.flex (row, nowrap, flex-start, center);
        @include m.tablet {
            @include m.flex (row, nowrap, space-between, center);
        }
        @include m.desktop {
            padding: 0.5rem 5rem;
        }
    }
    &-h2 {
        text-transform: uppercase;
        margin-left: 3rem;
        @include m.tablet {
            font-size: 1.2em;
        }
        @include m.desktop {
            font-size: 1.5em;
        }
    }
    &-nav {
        @include m.flex (column, nowrap, center, center);
        @include m.position(absolute, 3.5244rem, 0, null, 0);
        padding: 0.1rem;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        backdrop-filter: blur(2px);
        transition: all 0.7s ease-in;
        &--show {
            opacity: 1;
            pointer-events: initial;
            visibility: visible;
        }
        @include m.telefono-l {
            @include m.position(absolute, 5.9988rem, 0, null, 0);
        }
        @include m.tablet {
            @include m.flex (row, nowrap, center, center);
            @include m.position(relative, 0, null, null, null);
            background-color: transparent;
            backdrop-filter: none;
            padding: 0.1rem 1rem;
            opacity: 1;
            pointer-events: initial;
            visibility: visible;
        }
    }
    &-link {
        padding: 0.5rem 1rem;
        margin: 1rem 0.5rem;
        font-size: 1.5em;
        font-style: italic;
        font-weight: bold;
        border-radius: 10px;
        @include m.tablet {
            font-size: 1.3em;
        }
        &:hover {
            background-color: var(--color-negro);
            color: var(--color-blanco);
        }
        &--activo{
            background-color: var(--color-negro);
            color: var(--color-blanco);
        }
    }
    &-burger {
        padding: 0.5rem;
        @include m.flex(row, nowrap, center, center);
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
        @include m.tablet {
            display: none;
        }
    }
}