@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;


.Newsletter {
    margin: 1rem auto;
    @include m.tablet {
        margin: 3rem 0 1rem;
    }
    &-contenedor {
        max-width: 31.25rem;
        margin: 0 auto;
        padding: 0 1rem;
        @include m.tablet {
            width: 50%;
        }
    }
    &-h2 {
        font-size: 1.5em;
        @include m.desktop{
            font-size: 2em;
            }
    }
    &-h4 {
        font-size: 0.85em;
        padding: 0.5rem 0;
        @include m.tablet {
            font-size: 1em;
            padding: 1rem 0;
        }
        @include m.desktop {
            padding: 1.5rem 0;
        }
    }
    &-form {
        position: relative;
        @include m.flex (column, nowrap, space-between, center);
    }
    &-input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1.5rem 1.2rem 1rem;
        font-size: 1.1em;    
    }
    &-boton {
        margin: 2rem 1rem;
    }
    &-spinner {
        @include m.flex(row, nowrap, center, center);
        visibility: hidden;
        height: 0;
        opacity: 0;
        transition: all 0.7s ease;
        &--show{
            visibility: visible;
            height: auto;
            opacity: 1;
        }
    }
}

// SPINNER
.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}
  
.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}
  
.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: var(--color-fondo);
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}
  
.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
@keyframes sk-chase {
    100% { transform: rotate(360deg); } 
}
  
@keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
}
  
@keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
}