@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.Signup {
    margin: 1rem auto;
    height: 80vh;
    @include m.tablet {
        margin: 3rem 0 1rem;
    }
    &-contenedor {
        max-width: 31.25rem;
        margin: 0 auto;
        padding: 0 1rem;
        @include m.tablet {
            width: 50%;
        }
    }
    &-h2 {
        font-size: 1.5em;
        @include m.desktop{
            font-size: 2em;
            }
    }
    &-h4 {
        font-size: 0.85em;
        padding: 0.5rem 0;
        @include m.tablet {
            font-size: 1em;
            padding: 1rem 0;
        }
        @include m.desktop {
            padding: 1.5rem 0;
        }
    }
    &-form {
        position: relative;
        padding: 2rem;
        border: 1px solid #000;
        border-radius: 5px;
        @include m.flex (column, nowrap, space-between, center);
    }
    &-input {
        width: 100%;
        margin: 0.5rem 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 1.1em;    
    }
    &-div {
        width: 100%;
        margin-top: 1rem;
        @include m.flex(row, nowrap, flex-end, center);
        &:hover {
            color: lightblue;
            cursor: pointer;
        }
    }
    &-p {
        font-size: 0.95rem;
        font-weight: bold;
        margin-left: 0.5rem;
    }
    &-boton {
        margin: 2rem 1rem;
        padding: .625rem 1.5625rem;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        background-color: var(--color-fondo);
        transition: color 0.5s ease, background-color 0.5s ease;
        &:hover {
            background-color: var(--color-negro);
            color: var(--color-blanco);
        }
    }
}