@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.Header {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color:var(--color-fondo);
    z-index: 80;
    @include m.flex (column, nowrap, center, center);
    &--fixed {
        position:fixed;
    }
    &-cabecera {
        @include m.flex (row, nowrap, space-between, center);
        width: 95%;
        @include m.desktop {
            width: 80%;
        }
    }
    &-burger {
        padding: 0.5rem;
        @include m.flex(row, nowrap, center, center);
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
        @include m.desktop{
            display: none;
        }
    }
    &-img {
        @include m.flex (column, nowrap, flex-start, flex-start);
        display: none;
        @include m.desktop {
            display: block;
            max-width: 9rem;
        }
    }
    &-h2 {
        font-size: 0.7em;
        text-transform: uppercase;
        display: none;
        @include m.tablet {
            display: block;
            font-size: 0.7rem;
        }
        @include m.desktop {
            @include m.position(relative, -1rem, null, null, null);
            font-size: 1rem;
        }
    }
    &-enlaces {
        display: none;
        @include m.desktop {
            @include m.flex(row, nowrap, center, center);
            @include m.position(absolute, null, null, 1.0625rem, null);
        }
    }
    &-a {
        position: relative;
        background-color: var(--color-fondo-iconos);
        padding: 0.4rem 0.8rem;
        margin: 0 0.1rem 0 0.1rem;
        border-top: 1px solid var(--color-fondo);
        border-right: 1px solid var(--color-fondo);
        border-left: 1px solid var(--color-fondo);
        border-radius: 15px 15px 0 0;
        &:hover {
            text-decoration-line: underline;
        }
        &--activo {
            background-color:var(--color-negro);
            color: var(--color-blanco);
        }
    }
    &-centro {
        display: none;
        padding: 0.2rem;
        border-radius: 10px;
        background-color:var(--color-fondo-iconos);
        @include m.telefono-l {
            @include m.flex (row, nowrap, center, center);
        }
        @include m.tablet {
            padding: 0.5rem;
        }
        @include m.desktop {
            @include m.position(relative, -1rem, -2rem, null, null);
        }
    }
    &-input {
        // display: none;
        cursor: pointer;
        border: none;
        @include m.desktop{
            display: block
        }
    }
    &-der {
        @include m.flex (column, nowrap, center, center);
        @include m.tablet {
            margin: 0.5rem;
        }
    }
    &-derArriba {
        @include m.flex (row, nowrap, center, center);
        @include m.position (absolute, 2.8243rem, 0, null, 0);
        background-color: var(--color-negro);
        color: var(--color-blanco);

        p {
            font-size: 0.7em;
            margin-left: 0.5rem;
        }
        span {
            font-weight: bold;
            font-style: italic;
        }
        @include m.tablet {
            @include m.position(absolute, 3.9494rem, 0, null, 0);
        }
        @include m.desktop {
            position: inherit;
            background-color: var(--color-fondo);
            color: var(--color-negro);
            border: 1px solid var(--color-fondo-iconos);
            border-radius: 5px;
        }
    }
    &-caja {
        @include m.flex (row, nowrap, center, center);
        margin: 0.5rem;
        width: 100%;
        &:last-child {
            border-left: 1px solid var(--color-fondo-iconos);
            padding-left: 1rem;
        }
    }
}
