@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.Nav {
    background-color: #292929;
    color: var(--color-blanco);
    width: 100%;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    height: 0px;
    transition: all 0.5s ease;
    @include m.position (absolute, (2.7494rem + 2.4006rem), null, null, null);
    @include m.tablet {
        top: (3.9494rem + 2.4006rem);
    }
    @include m.desktop {
        width: 85%; 
        border-radius: 5px;
        padding: 0rem;
        @include m.flex (row, nowrap, center, center);
        @include m.position (absolute, (7.175rem - 1.0625rem), null, null, null);
        opacity: 1;
        visibility: visible;
        height: auto;
    }
    &--show {
        opacity: 1;
        visibility: visible;
        height: auto;
    }
    
    &-seeker {
        @include m.flex (row, nowrap, space-around, center);
        padding: 0.2rem;
        border-radius: 10px;
        background-color: var(--color-fondo-iconos);
        color: var(--color-negro);
        @include m.telefono-l {
            display: none;
        }
    }
    &-seekerInput {
        cursor: pointer;
        border: none;
        @include m.telefono-l{
            display: none;
        }
    }
    &-ul {
        @include m.desktop {
            @include m.flex (row, nowrap, space-around, center);
        }
    }
    &-li {
        position: relative;
        @include m.flex (column, nowrap, center, center);
        padding: .3125rem 1.375rem;
        margin-top: .375rem;
        @include m.desktop {
            border-right: 1px solid #444;
        }
        &:hover {
            background-color: var(--color-blanco);
            color: var(--color-negro);
            border-radius: 10px 10px 0 0;
            .Nav-subnav {
                display: block;
                z-index: 100;
            }
        }
    }
    &-li:last-child {
        border-right: none;
    }
    &-encabezado {
        @include m.flex (row, nowrap, space-between, center);
        
    }
    &-categoria {
        text-transform: uppercase;
        font-size: 1rem;
    }
    &-icon {
        margin-left: 1rem;
    }
    &-subnav {
        display: none;
        @include m.position (absolute, 1.3125rem, null, null, 0);
        width: 100%;
        padding: 0.7rem;
        background-color: var(--color-blanco);
        color: var(--color-negro);
        border-radius: 0 0 5px 5px;
        &-li {
            margin: 0.5rem;
            cursor: pointer;
            transition: all 0.6s ease;
        }
        &-li:hover {
            color: var(--color-fondo-hover);
        }
    }
    &-enlaces {
        @include m.flex(row, nowrap, center, center);
        margin-top: 1rem;
        @include m.desktop {
            display: none;
        }
    }
    &-a {
        position: relative;
        font-style: italic;
        padding: 0.4rem 0.8rem;
        margin: 0 1rem;
        border: 1px solid var(--color-fondo);
        border-radius: 15px;
        &:hover {
            text-decoration-line: underline;
        }
        &--activo {
            background-color:var(--color-blanco);
            color: var(--color-negro);
        }
    }
}