@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.CartElement {

    &-p {
        font-size: 0.7em;
        margin: 0.3rem 0;
        @include m.tablet {
            font-size: 0.9em;
            margin: 0.5rem 0;
        }
    }




    &-thead {
        background: rgb(24,24,24);
        background: linear-gradient(180deg, rgba(24,24,24,1) 16%, rgba(74,74,74,1) 77%);
        color: var(--color-blanco);
        font-size: 0.8em;
        border-radius: 5px;
    }
    &-tr {
        display: table-row;
        border-bottom: 1px solid var(--color-gris);
    }
    &-tr:last-child {
        border-bottom: none;
    }
    &-th, &-td {
        display: table-cell;
        text-align: center;
        padding: 0.5rem 1.5rem;
        vertical-align: top;
        font-size: 0.8em;
    }
    &-td:first-child {
        @include m.flex(row, nowrap, center, center);
    }
    &-td:last-child {
        font-weight: bold;
    }
    &-tbody {
        &-picture {
            @include m.flex (row, nowrap, center, center);
        }
        &-img {
            margin-right: 1rem;
            width: auto;
            max-width: 100px;
            @include m.tablet {
                margin-right: 0;
                max-width: 150px
            }
        }
        &-descripcion {
            @include m.flex (column, nowrap, center, flex-start);
        }
        &-iconos {
            @include m.flex(row, nowrap, flex-start, center);
        }
        &-p, &-a, &-iconos{
            padding: 0.15rem 0.5rem;
            span {
                font-weight: bold;
            }
        }
        &-p:nth-child(2) {
            color: var(--color-gris);
        }
        &-p:nth-child(3) {
            color: var(--color-precios);
        }
        &-a {
            color: blue;
        }
        // &-precios {

        // }
        &-precio {
            padding: 0.2rem 0.5rem;
            &--mod {
                display: none;
            }
        }
        &-precio:nth-child(2), &-precio:nth-child(3){
            color: var(--color-gris);
        }
    }
    &-resultado {
        @include m.flex(column-reverse, nowrap, center, center);
        padding: 0.5rem;
        @include m.telefono-l {
            @include m.flex(row, nowrap, center, flex-end);
            padding: 1rem;
        }
    }
    &-detalle {
        @include m.flex(column, nowrap, center, flex-end);
        font-size: 0.7em;
        padding: 0 0 1rem 0;
        @include m.tablet {
            padding: 0 0 0 1rem;
            font-size: 0.8em;
        }
        &-p {
            padding: 0.1rem;
            span {
                color: var(--color-gris);
            }
        }
        &-p:nth-child(3) {
            padding-top: 0.8rem;
            font-weight: bold;
        }
    }
    &-caja-botones {
        @include m.flex(column, nowrap, center, flex-start);
        @include m.tablet {
            @include m.flex(row, nowrap, flex-end, center);
        }
    }
    &-tramitar {
        @include m.flex(row, nowrap, center, center);
        i {
            font-size: 0.7rem;
            margin-left: 0.5rem;
            @include m.tablet {
                font-size: 1rem;
            }
        }
        margin-top: 0.5rem;
        @include m.tablet {
            margin-top: 0;
        }
    }
    &-boton {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.7em;
        cursor: pointer;
        @include m.tablet {
            font-size: 0.8em;
            margin: 0 1rem 0 0;
        }
    }
}