@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.SuccessCheckout {
    max-width: 720px;
    margin: 0 auto;

    &-container {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    &-h2 {
        margin-bottom: 1rem;
    }
    &-p {
        font-style: italic;
    }
    &-h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    &-list {
        list-style: none;
        padding: 0;
        margin-bottom: 1rem;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        
    }
    
    &-total {
        font-size: 1.125rem; 
        margin: 2rem 0;
        font-weight: bold;
        padding: 1rem 0;
        border-top: 1px solid #eee;
    }

    &-button {
        padding: 0.5rem 1rem;
        margin-top: 5rem;
        cursor: pointer;
    }
}