@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.ArticleDetails {   
    width: 100%;
    @include m.flex(column, nowrap, center, center);
    margin: 1rem;
    @include m.desktop {
        margin: 2rem;
    }
    &-article {
        margin: 2rem 0;
        @include m.flex(column, nowrap, flex-start, center);
        @include m.tablet {
            width: 80%;
            margin: 2rem 0;
        }   
        @include m.desktop {
            margin: 4rem 0;
        }   
    }
    &-title {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 1rem;
        @include m.tablet {
            font-size: 2.5em;
            line-height: 1em;
            margin-bottom: 2rem;
        }
        @include m.desktop {
            font-size: 3em;
        }
    }
    &-up {
        width: 100%;
        margin-bottom: 1rem;
        @include m.flex(row, nowrap, flex-start, center);
        @include m.tablet {
            margin-bottom: 2rem;
        }   
        @include m.desktop {
            margin-bottom: 4rem;
        }
        
    }
    &-date, &-p {
        font-size: 0.8em;
        cursor: pointer;
        margin-right: 2rem;
        @include m.tablet {
            font-size: 1em;
        }
    }
    &-blue {
        color: blue;
        cursor: pointer;
        &:last-child{
            margin-left: 1rem;
        }
    }
    &-img {
        @include m.flex(row, nowrap, center, center);
        margin-bottom: 2rem;
        max-width: 37.5rem;
    }
    &-text {
        @include m.tablet {
            font-size: 1.3em;
        }
    }
    &-boxRecomended {
        @include m.flex(column, nowrap, center, flex-start);
        
        width: 100%;
        padding: 1rem 0;
        border-top: 1px dotted blue; 
        border-bottom: 1px dotted blue; 
        @include m.tablet {
            padding: 2rem 0;
        }
    }
    &-h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1rem;
        @include m.tablet {
            font-size: 1.8em;
            margin-bottom: 1.5rem;
        }
        &--mod {
            width: 100%;
            text-align: start;
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid var(--color-gris);
            @include m.tablet {
                font-size: 1.5em;
            }
        }
    }
    &-ul {
        @include m.flex(row, nowrap, flex-start, center);
        width: 100%;
        margin: 0;
        gap: 1rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        @include m.desktop {
            @include m.flex(row, nowrap, flex-start, center);
            overflow-x: visible;
            gap: 0;
            padding: 0;
            scroll-snap-type: none;
        }
    }
    &-boxComments {
        width: 100%;
        margin-top: 2rem;
    }
    &-listComments {
        margin-bottom: 3rem;
        width: 100%;
        &-comment {
            @include m.flex(column, nowrap, center, flex-start);
            margin: 0.5rem;
            border-bottom: 1px dotted var(--color-gris-claro);
            @include m.tablet {
                margin-left: 1rem;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
            }
        }
        &-up {
            @include m.flex(row, nowrap, flex-start, center);
            margin-bottom: 0.5rem;
        }
        &-p {
            margin-right: 2rem;
        }
        &-p:nth-child(1) {
            font-weight: bold;
            text-transform: capitalize;
        }
    }
    &-form {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--color-blanco);
        margin-bottom: 1rem;
        @include m.tablet {
            padding: 1.5rem;
            margin-bottom: 1.5rem;
        }
        &-h5 {
            font-size: 1.2em;
            margin-bottom: 1rem;
            @include m.tablet {
                font-weight: bold;
                font-size: 1.5em;
                margin-bottom: 1.5rem;
            }
        }
        &-container {
            @include m.flex(column, nowrap, center, center);
            @include m.tablet {
                @include m.flex(row, nowrap, center, center);
            }
        }
    }
    &-fieldsetContainer {
        width: 100%;
        padding: 0.5rem;
        @include m.tablet {
            width: 70%;
            padding: 1rem;
        }
        &--mod {
            @include m.flex(row, column, flex-end, center);
        }
    }
    &-fieldset {
        width: 100%;
        margin-bottom: 2rem;
        @include m.tablet {
            @include m.flex(row, nowrap, flex-start, center);
            padding-right: 2rem;
        }
    }
    &-p {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        width: 150px;
        @include m.tablet {
            margin-bottom: 0;
            font-size: 1.1rem;
        }
    }
    &-input {
            width: 100%;
            padding: 0.5rem;
            background-color: var(--color-blanco-contraste);
            border-radius: 5px;
            color: black;
        &::placeholder {
            color: #b3b3b3;
            font-style: italic;
            opacity: 1; /* por si el navegador aplica transparencia */
        }
        &--disabled {
            opacity: 0.5;
            background-color: black;
        }
    }
    &-button {
        &--disabled {
            opacity: 0.5;
        }
    }
    &-divResponse {
        @include m.flex(row, nowrap, center, center);
        margin-top: 2rem;
    }
    &-norms {
        width: 100%;
        list-style-type: disc;
        padding: 0.5rem;
        font-size: 0.8em;
        @include m.tablet {
            width: 30%;
            font-size: 0.9em;
        }
    }
    &-li {
        list-style-type: inherit;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
    }
    &-li:first-child, &-li:nth-child(2) {
        list-style-type: none;
        margin-left: 0;
    }
    &-li:first-child {
        font-weight: bold;
        margin-bottom: 1rem;
    }
    &-spinner {
        @include m.flex(row, nowrap, center, center);
        width: 100%;
        visibility: hidden;
        height: 0;
        opacity: 0;
        transition: all 0.7s ease;
        &--show{
            visibility: visible;
            height: auto;
            opacity: 1;
        }
    }
}


// SPINNER
.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}
  
.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}
  
.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: var(--color-fondo);
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}
  
.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
@keyframes sk-chase {
    100% { transform: rotate(360deg); } 
}
  
@keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
}
  
@keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
}