@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.InitContent {
    @include m.flex (column, nowrap, center, center);
    &-container {
        margin: 1rem 0;
        @include m.flex (column, nowrap, center, center);
        width: 95%;
        @include m.tablet {
            width: 90%;
            margin: 2rem 0;
        }
        @include m.desktop {
            width: 80%;
        }
    }
    &-h2 {
        font-size: 2rem;
        font-style: italic;
        font-weight: bold;
        margin: 1rem 0;
        @include m.tablet {
            font-size: 3em;
            margin: 2rem;
        }
    }
    &-content {
        margin: 1rem auto;
        @include m.flex(column, nowrap, center, center);
        @include m.tablet {
            @include m.flex(row, nowrap, space-between, center);
        }
    }
    &-p {
        font-family: var(--font-textos);
        line-height: 1.5rem;
        margin: 1rem;
        @include m.tablet {
            width: 50%;
        }
    }
    &-img {
        margin: 1rem;
        @include m.tablet {
            width: 50%;
            max-width: 21.875rem;
        }
    }
    &-lastEntries {
        @include m.grid(1, 1rem);
        @include m.tablet {
            @include m.grid(4, 1rem);
        }
    }
    &-recomendedRoutes {
        @include m.grid(1, 1rem);
        @include m.tablet {
            @include m.grid(2, 1rem);
        }
    }
    &-clubMontana {
        margin: 1rem auto;
        width: 100%;
        @include m.tablet {
            @include m.flex(row, nowrap, center, center);
        }
    }
    &-paragraph {
        font-family: var(--font-textos);
        margin-bottom: 2rem;
        @include m.tablet {
            margin: 0;
            margin-right: 2rem;
        }
    }
    &-button {
        @include m.tablet {
            margin-left: 2rem;
        }
    }
}