@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.InitContent {
    @include m.flex (column, nowrap, center, center);
    &-container {
        margin: 1rem 0;
        @include m.flex (column, nowrap, center, center);
        width: 95%;
        @include m.tablet {
            width: 90%;
            margin: 2rem 0;
        }
        @include m.desktop {
            width: 80%;
        }
    }
    &-h2 {
        font-size: 2rem;
        font-style: italic;
        font-weight: bold;
        margin: 1rem 0;
        @include m.tablet {
            font-size: 3em;
            margin: 2rem;
        }
    }
    &-content {
        @include m.flex(column, nowrap, center, center);
        @include m.tablet {
            @include m.flex(row, nowrap, space-between, flex-start);
            width: 90%;
        }
        &-p {
            margin: 1rem;
            @include m.tablet {
                width: 50%;
            }
        }
        &-img {
            margin: 1rem;
            @include m.tablet {
                width: 50%;
                max-width: 21.875rem;
            }
        }
    }
    // &-entradasVisitadas {

    // }
    &-clubMontana {
        margin: 1rem;
        @include m.tablet {
            @include m.flex(row, nowrap, center, center);
        }
        &-p {
            margin-bottom: 2rem;
            @include m.tablet {
                margin: 0;
                margin-right: 2rem;
            }
        }
        &-input {
            @include m.tablet {
                margin-left: 2rem;
            }
        }
    }
}