html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--color-negro);
    background: var(--color-blanco);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-helvetica);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--font-verdana);
}
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}