:root {
    --color-negro: #222;
    --color-primario-contraste: #000;
    --color-blanco: #f5f5f5;
    --color-blanco-contraste: #fff;


    // IR REVISANDO SI ESTOS COLORES SON MOLESTOS AL CONTRUIR APP
    --color-fondo: #ffcc00;
    --color-fondo-hover: #ffc400;
    --color-fondo-active: #efbc00;
    --color-fondo-iconos:#fff0ad;
    --color-precios: #990000;
    --color-gris: #999;
    --color-gris-claro: #ddd;
    --color-texto-formulario:  #723f00;
    --color-texto-formulario2: #556575;
    --color-borde-cesta: #4a4a4a,



    --font-helvetica: Helvetica, Arial, sans-serif;
    --font-verdana: Verdana, Geneva, sans-serif;
}


/*  tama침os para media queries (desde este tama침o en adelante, ej: @media (min-width: $tablet) */
$medidas: (
    "telefono-m": 20rem,
    "telefono-l": 26.5625rem, //por encima pasamos a tablet vertital/m칩vil horizontal
    "tablet": 48rem, // por encima pasamos pantalla peque침a/pantalla-z
    "desktop": 65rem, // por encima pasamos pantalla estandar
    "desktop-l": 90rem
);