:root {
    --color-negro: #222;
    --color-primario-contraste: #000;
    --color-blanco: #f5f5f5;
    --color-blanco-contraste: #fff;


    // IR REVISANDO SI ESTOS COLORES SON MOLESTOS AL CONTRUIR APP
    --color-fondo: #ffcc00;
    --color-fondo-hover: #ffc400;
    --color-fondo-active: #efbc00;
    --color-fondo-iconos:#fff0ad;
    --color-precios: #990000;
    --color-gris: #999;
    --color-gris-claro: #ddd;
    --color-texto-formulario:  #723f00;
    --color-texto-formulario2: #556575;
    --color-borde-cesta: #4a4a4a,
}


/*  tamaños para media queries (desde este tamaño en adelante, ej: @media (min-width: $tablet) */
$medidas: (
    "telefono-xs": 200px,
    "telefono-m": 320px, // la mayoría de los telefonos están en 400px aprox
    "telefono-xl": 480px, //por encima pasamos a tablet
    "tablet": 768px,
    "desktop": 960px, // por encima pasamos a ordenador
    "desktop-m": 1024px,
    "desktop-xl": 1440px
);

$fuentes: (
    "tipo-principal": Helvetica Arial sans-serif,
    "tipo-secundaria": Verdana
);