@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.Advantages {
    margin: 1rem auto;
    &-contenedor {
        margin: 0 auto;
        border-top: 1px dotted #000;
        border-bottom: 1px dotted #000;
        max-width: 60.3125rem;
        @include m.telefono-l {
            padding: 1rem 0;
        }
        @include m.tablet {
            padding: 1.5rem 0;
            width: 80%
        }
        @include m.desktop {
            padding: 2rem 0;
            width: 90%
        }
    }
    &-ul {
        padding: 0.5rem;
        @include m.flex (column, nowrap, space-between, center);
        @include m.telefono-l {
            padding: 1rem;
        }
        @include m.tablet {
            padding: 1rem;
        }
        @include m.desktop {
            @include m.flex (row, nowrap, space-between, flex-start);
            padding: 1.3rem 0;
        }
    }
    &-li {
        padding: 0 0.5rem;
        width: 100%;
        @include m.flex (row, nowrap, space-around, center);
        @include m.desktop {
            @include m.flex (column, nowrap, flex-start, center);
        }
        svg {
            display: none;
            @include m.tablet {
                display: block;
                padding: 0.5rem;
            }
        }
    }
    &-icon {
        font-size: 1.5rem;
        @include m.telefono-l {
            font-size: 2rem;
        }
        @include m.tablet {
            font-size: 3rem;
        }
    }
    &-h4 {
        padding: 0 1rem;
        font-size: 1rem;
        @include m.desktop {
            padding: 1rem 0;
            font-size: 1.6rem;
        }
    }
    &-p {
        display: none;
        font-size: 0.8rem;
        text-align: center;
        width: 45%;
        span {
            font-weight: bold;
        }
        @include m.tablet {
            display: block;
        }
        @include m.desktop {
            font-size: 1rem;
            width: auto;
        }
    }
}
