@use '../../../styles/settings/variables' as v;
@use '../../../styles/settings/mixins' as m;

.Portada {
    width: 100%;
    margin: 0 auto;
    @include m.flex (row, nowrap, center, center);
    position: relative;
    &-foto {
        width: 100%;
        height: 70vh;
        background-image: url('/assets/imgs/img-portada.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-boton {
        @include m.position (absolute, null, null, 5rem, null);
    }
}
