@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.AboutUs {
    @include m.flex(column, nowrap, center, center);
    margin: 1rem;
    @include m.tablet {
        margin: 3rem 4rem;
    }
    @include m.desktop {
        margin: 3rem 6rem;
    }
    &-h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        @include m.tablet {
            font-size: 3.5rem;
            margin-bottom: 2rem;
        }
    }
    &-h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        @include m.tablet {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
    }
    &-p {
        margin: 1rem 0;
        @include m.tablet {
            font-size: 1.2em;
        }
    }
    &-img {
        margin: 2rem;
    }
    &-form {
        @include m.flex(column, nowrap, center, center);
        margin: 2rem 0.5rem;
        padding: 0.5rem;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: var(--color-blanco);
        @include m.telefono-l {
            padding: 1rem;
        }
        @include m.tablet {
            padding: 2rem;
            margin: 3rem;
        }
    }
    &-h4 {
        font-size: 1.5em;
        margin: 1rem;
        @include m.tablet {
            font-size: 2em;
            margin-bottom: 3rem;
        }
    }
    &-fieldset {
        @include m.flex(column, nowrap, center, center);
        @include m.tablet {
            padding: 1rem;
            @include m.flex(row, nowrap, center, center);
        }
    }
    &-input {
        font-size: 1.3em;
        margin-bottom: 1rem;
        padding: 0.5rem;
        background-color: var(--color-blanco-contraste);
        border-radius: 5px;
        @include m.tablet {
            padding: 1rem;
            margin-right: 2rem;
        }
    }
    &-spinner {
        @include m.flex(row, nowrap, center, center);
        visibility: hidden;
        height: 0;
        opacity: 0;
        transition: all 0.7s ease;
        &--show{
            visibility: visible;
            height: auto;
            opacity: 1;
        }
    }
}


// SPINNER
.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}
  
.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}
  
.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: var(--color-fondo);
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}
  
.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
@keyframes sk-chase {
    100% { transform: rotate(360deg); } 
}
  
@keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
}
  
@keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
}