@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.ProductsVisited {
    margin: 1rem;
    @include m.tablet {
        padding: 1.5rem 0;
    }
    @include m.desktop {
        padding: 3rem 0;
    }
    &-contenedor {
        margin: 0 1rem;
        @include m.flex (column, nowrap, flex-start, center);
        @include m.tablet {
            @include m.flex (column, nowrap, center, center);
            width: 80%;
            margin: 0 auto;
        }
    }
    &-h2 {
        font-size: 1.5rem;
        @include m.desktop {
            font-size: 2rem;
            margin-bottom: 1rem
        }
    }
    &-ul {
        @include m.flex(row, nowrap, flex-start, center);
        gap: 1rem;
        margin: 1rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        @include m.desktop {
            @include m.grid (4, 1rem);
        }
    }
}