@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.Category {
    &-content {
        width: 100%;
        margin: 1rem;
        @include m.desktop {
            margin: 2rem;
        }
    }
    &-h2 {
        @include m.flex(row, nowrap, center, center);
        font-size: 2rem;
        margin: 1rem;
        text-transform: uppercase;
    }
    &-ul {
        @include m.flex(row, nowrap, flex-start, center);
        width: 100%;
        margin: 0;
        gap: 1rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        @include m.desktop {
            @include m.flex(row, nowrap, center, center);
            @include m.grid(4, 1rem);
            overflow-x: visible;
            padding: 0;
            scroll-snap-type: none;
        }
    }
}