@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.Products {
    margin: 1rem;
    @include m.tablet {
        padding: 1.5rem 0;
    }
    @include m.desktop {
        padding: 3rem 0;
        width: 80%;
        margin: 0 auto;
    }
    &-contenedorTitulos {
        @include m.flex(column, nowrap, center, center);
    }
    &-h1 {
        font-size: 1.5rem;
        @include m.desktop {
            font-size: 2rem;
        }
    }
    &-h2 {
        font-size: 1.5rem;
        @include m.desktop {
            font-size: 2rem;
            margin-bottom: 1rem
        }
    }
    &-h4 {
        font-size: 0.85em;
        padding: 0.5rem 0;
        @include m.tablet {
            font-size: 1em;
            padding: 1rem 0;
        }
        @include m.desktop {
            padding: 1.5rem 0;
        }
    }
    &-ul {
        @include m.flex(row, nowrap, flex-start, center);
        gap: 1rem;
        margin: 1rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        @include m.desktop {
            @include m.grid (4, 1rem);
        }
    }
}