@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.ProductCard {
    @include m.flex (column, nowrap, space-between, center);
    position: relative;
    border-radius: 5px;
    @include m.telefono-l {
        padding: 0.5rem 1rem;
    }
    &:hover {
        border: 1px solid var(--color-gris);
    }
    &-descuento {
        @include m.position (absolute, 0.3rem, 0.3rem, null, null);
        background-color: var( --color-fondo);
        width: 3.125em;
        height: 3.125em;
        border-radius: 50% 50% 50% 0;
        p {
            @include m.flex (row, nowrap, center, center);
            line-height: 3.125em;
            width: 100%;
            font-size: 1.1em;
            font-weight: bold;
        }
        &--none {
            display: none;
        }
    }
    &-img {
        cursor: pointer;
    }
    &-contenido {
        position: relative;
        //añado position:relative porque con js crerá un mensaje de exito al agregar elemento a cesta (y tendrá position:absolute)
        padding: .625rem;
        @include m.flex (column, nowrap, center, center);
        &--mod {
            @include m.flex (row, nowrap, center, flex-start); 
        }  
        &--mod:first-child {
            min-height: 3.25rem;
        }
        p {
            font-size: 0.9em;
            @include m.telefono-l {
                font-size: 1em;
            }
        }      
    }
    &-titulo {
        padding: 0.5rem;
        text-transform: capitalize;
        span {
            text-transform: capitalize;
            font-weight: bold;
        }
    }
    &-contenedorPrecios {
        @include m.flex(row, nowrap, space-between, center);
    }
    &-precio {
        scale: calc(1.2);
        font-weight: bold;
        &--old {
            scale: calc(0.95);
            padding: 0 10px;
            text-decoration: line-through;
        }
        &--color {
            color: var(--color-precios);
        } 
    }
    &-button {
        margin-top: 0.5rem;
        font-size: 0.8em;
    }
}