@use '@/styles/settings/variables' as v;
@use '@/styles/settings/mixins' as m;

.Products {
    padding: 0.5rem 0;
    @include m.tablet {
        padding: 1.5rem 0;
    }
    @include m.desktop {
        padding: 3rem 0;
    }
    &-contenedor {
        margin: 0 1rem;
        @include m.flex (column, nowrap, center, center);
        @include m.tablet {
            width: 80%;
            margin: 0 auto;
        }
    }
    &-h1 {
        font-size: 1.5rem;
        @include m.desktop {
            font-size: 2rem;
        }
    }
    &-h4 {
        font-size: 0.85em;
        padding: 0.5rem 0;
        @include m.tablet {
            font-size: 1em;
            padding: 1rem 0;
        }
        @include m.desktop {
            padding: 1.5rem 0;
        }
    }
    &-grid {
        @include m.grid (1, 0);
        @include m.telefono-m {
            @include m.grid (2, 0);
        }
        @include m.telefono-l {
            padding: 1rem;
        }
        @include m.tablet {
            @include m.grid (3, 0);
        }
        @include m.desktop {
            @include m.grid (4, 0);
        }
    }
}