@use '../../../styles/settings/variables' as v;
@use '../../../styles/settings/mixins' as m;

.Products {
    padding: 0.5rem 0;
    @include m.tablet {
        padding: 1.5rem 0;
    }
    @include m.desktop {
        padding: 3rem 0;
    }
    &-contenedor {
        margin: 0 1rem;
        @include m.flex (column, nowrap, center, center);
        @include m.tablet {
            width: 80%;
            margin: 0 auto;
        }
    }
    &-h1 {
        font-size: 1.5rem;
        @include m.desktop {
            font-size: 2rem;
        }
    }
    &-h4 {
        font-size: 0.85em;
        padding: 0.5rem 0;
        @include m.tablet {
            font-size: 1em;
            padding: 1rem 0;
        }
        @include m.desktop {
            padding: 1.5rem 0;
        }
    }
    &-grid {
        @include m.grid (1, 0);
        @include m.telefono-m {
            @include m.grid (2, 0);
        }
        @include m.telefono-l {
            padding: 1rem;
        }
        @include m.tablet {
            @include m.grid (3, 0);
        }
        @include m.desktop {
            @include m.grid (4, 0);
        }
    }
    &-li {
        @include m.flex (column, nowrap, space-between, center);
        position: relative;
        border-radius: 5px;
        &:hover {
            border: 1px solid var(--color-gris);
        }
        @include m.telefono-l {
            padding: 0.5rem 1rem;
        }
        &-descuento {
            @include m.position (absolute, 0.3rem, 0.3rem, null, null);
            background-color: var(--color-fondo);
            width: 3.125em;
            height: 3.125em;
            border-radius: 50% 50% 50% 0;
            p {
                @include m.flex (row, nowrap, center, center);
                line-height: 3.125em;
                width: 100%;
                font-size: 1.1em;
                font-weight: bold;
            }
        }
        &-img {
            cursor: pointer;
        }
        &-contenido {
            position: relative;
            //añado position:relative porque con js crerá un mensaje de exito al agregar elemento a cesta (y tendrá position:absolute)
            padding: .625rem;
            @include m.flex (column, nowrap, center, center);
            &--mod {
                @include m.flex (row, nowrap, center, flex-start); 
            }  
            &--mod:first-child {
                min-height: 3.25rem;
            }
            p {
                font-size: 0.9em;
                @include m.telefono-l {
                    font-size: 1em;
                }
            }      
        }
        &-titulo {
            padding: 0.5rem;
            text-transform: capitalize;
            span {
                text-transform: capitalize;
                font-weight: bold;
            }
        }
        &-precio {
            font-size: 1.2em;
            color: var(--color-precios);
            &--old {
                padding: 0 10px;
                font-size: .9rem;
                text-decoration: line-through;
            }    
        }
        &-button {
            margin-top: 0.5rem;
            font-size: 0.8em;
        }
    }
}