

.Paragraph {
    font-family: var(--font-textos);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
    &--red {
        color: red;
    }
    &--green {
        color: green;
    }
}