.Order {
    &-container {
        border: 1px solid #d8d3d3;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;

    }
  
    &-orderHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        }
    
    
    &-orderList {
        margin-top: 8px;
        padding-left: 16px;
    }
    &-p {
        font-weight: bold;
    }
}